
{% extends "base.html" %}

{% block title %}
About Us
{% endblock %}

{% block content %}

<div class="hero">

    <h1>📖 About Us</h1>

    <p>
        Welcome to the <strong>AIML Notes Portal</strong>.
    </p>

</div>

<div class="container">

    <p>
        AIML Notes Portal is a platform developed to help students
        easily access academic resources such as notes, PDFs,
        Google Drive links, and study materials in one place.
    </p>

    <br>

    <p>
        Our mission is to make learning simple, organized,
        and accessible for every student by providing
        year-wise and subject-wise resources.
    </p>

    <br>

    <p>
        This project is developed by
        <strong>Sukumar</strong>,
        an Artificial Intelligence and Machine Learning student
        passionate about Python, Flask, Data Analytics,
        Machine Learning, and Full Stack Development.
    </p>

    <br>

    <h3>🌐 Portfolio</h3>

    <p>

        <a href="https://protfolio-tan-nine.vercel.app/"
           target="_blank">

            Visit My Portfolio

        </a>

    </p>

</div>

{% endblock %}

