
{% extends "base.html" %}

{% block title %}
Contact Us
{% endblock %}

{% block content %}

<div class="hero">

    <h1>📞 Contact Us</h1>

    <p>

        We'd love to hear from you!

    </p>

</div>

<div class="container">

    <h3>📧 Email</h3>

    <p>

        <a href="mailto:sukumar9618@gmail.com">

            sukumar9618@gmail.com

        </a>

    </p>

    <br>

    <h3>🌐 Portfolio</h3>

    <p>

        <a href="https://protfolio-tan-nine.vercel.app/"
           target="_blank">

            Visit My Portfolio

        </a>

    </p>

    <br>

    <h3>💻 GitHub</h3>

    <p>

        <a href="https://github.com/Sukumar96-tech"
           target="_blank">

            GitHub Profile

        </a>

    </p>

    <br>

    <p>

        Thank you for visiting the AIML Notes Portal.
        Feel free to contact us for suggestions,
        collaborations, or feedback.

    </p>

</div>

{% endblock %}

