
{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}

<div class="hero">

    <h1>📚 AIML Notes Portal</h1>

    <p>Select your year</p>

</div>

<div class="year-container">

    <a href="/year/1" class="year-card">
        <h2>1st Year</h2>
    </a>

    <a href="/year/2" class="year-card">
        <h2>2nd Year</h2>
    </a>

    <a href="/year/3" class="year-card">
        <h2>3rd Year</h2>
    </a>

    <a href="/year/4" class="year-card">
        <h2>4th Year</h2>
    </a>

</div>

{% endblock %}

